<! –– Basic html page with publish and subscribe buttons nd text boxes.
Eventually this will be a UI for controlling heating within the house.  ––>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Heating Flask App</title>
  </head>
      <body>

          <header>
              <h1>Home Heating</h1>
          </header>

        <main>
            Child3 bedroom
            <form method="post" action="/">
                <input type="submit" value="ON" name="action1"/>
                <input type="submit" value="OFF" name="action2" />
            </form>

            <form method="post" action="/">
                <input type="submit" value="Check Heating" name="action3"/>
            </form>



        </main>

        <footer>
            <p>
                Built by Finn
            </p>
        </footer>

      </body>
</html>